/* Basic styles for game layout */
@font-face {
    font-family: 'gameFont'; /*a name to be used later*/
    src: url('./fonts/KOMIKAX_.ttf'); /*URL to font*/
}

body {
    font-family: 'gameFont';
    background-image: url('./images/game_page_bg.png');
    background-repeat: no-repeat;
    background-position: center;
    margin: 0px;
}

#game-container {
    max-width: 650px;
    min-width: 650px;
    height: 868px;
    width: 100%;
    margin: auto;
    box-shadow: 0 0 10px 10px black;
}
/* End Basic styles for game layout */

/* Animations */
@keyframes slideInFromTop {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
}

@keyframes slideOutToTop {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-100%);
    }
}


@keyframes fadeIn {
    0% { 
        opacity: 0; 
    }
    100% { 
        opacity: 1; 
    }
}

@keyframes fadeOut {
    0% { 
        opacity: 1; 
    }
    100% { 
        opacity: 0; 
    }
}
/* End Animations */


/* Main Menu Styles */
#game-container {
    background-color: transparent;
    background-image: url('./images/main_menu_bg.png');
    background-size: cover;
}

#glowy-stuff {
    height: 860px;
    position: absolute;
    top: 0px;
    opacity: 0;
    animation: fadeIn 1s ease-out 1s 1 forwards;
}

#menu-background {
    height: 815px;
    position: absolute;
    top: 0px;
    margin-left: 20px;
    animation: 1s ease-out 0s 1 slideInFromTop;
}

#game-main-menu-title {
    height: 125px;
    position: absolute;
    top: 90px;
    right: 50%;
    transform: translate(50%, 0px);
    opacity: 0;
    animation: fadeIn 1s ease-out 1s 1 forwards
}

#bird-character {
    height: 300px;
    position: relative;
    top: 425px;
    right: 50px;
}

#start-game-button {
    height: 75px;
    position: absolute;
    top: 325px;
    right: 50%;
    transform: translate(50%, 0px);
    opacity: 0;
    animation: fadeIn 1s ease-out 1s 1 forwards;
}

#menu-title-shadow, #menu-title {
    font-size: 46px;
    position: absolute;
    right: 50%;
    transform: translate(50%, 0px);
    opacity: 0;
    animation: fadeIn 1s ease-out 1s 1 forwards;
}

#menu-title-shadow {
    color: #d8b366;
    top: 200px;
}

#menu-title { 
    color: #69251c;
    top: 195px;
}
/* End Main Menu Styles */

/* Build Game Board */
.board-tile {
    width: 55px;
    height: 55px;
    position: absolute;
    transform: translate(50%, 0px);
    right: 50%;
    background-size: cover;
    opacity: 0;
    animation: fadeIn 1s ease-out 1.5s 1 forwards;
} 

/* End Build Game Board */
